:root {
    --base: yellow;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}


body {
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

img {
    height: 80%;
}

input {
    width: 100px;
}

